.cardsTitleHolder {
  display: flex;
  justify-content: center;
}

.descriptionTitle {
  display: inline-block;
  margin: 3rem;
  color: lightgray;
  border: 2rem;
}

.cardDisplay {
  margin-bottom: 20px;
  overflow-x: auto;
  white-space: nowrap;
  width: 1500px;
  border-radius: 20px;
}

.cardDisplay > * {
  margin-right: 20px;
}

.cardDisplay::-webkit-scrollbar {
  width: 12px;
}

.cardDisplay::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 9px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.cardDisplay::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 200px rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar {
  width: 35px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1000px rgba(126, 126, 126, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 500px 500px 500px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.starwars {
  width: 100px;
  height: auto;
  padding: 10px;
  margin-left: 2rem;
}
